<launch>

  <arg name="rviz_gui" default="true"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_file" default="$(find pr2_picking)/worlds/small_room.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <include file="$(find pr2_gazebo)/launch/pr2.launch"/>

<!-- {{ rviz -->
  <group if="$(arg rviz_gui)">
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          respawn="true"
          args="-d $(find pr2_picking)/rvizconfig/pr2_gazebo.rviz"/>
  </group>
<!-- }} rviz -->

</launch>
