<launch>

  <arg name="rviz_gui" default="true" />
  <arg name="IMAGE_RESIZE" default="false" />
  <arg name="USE_TORCH" default="false" />  <!-- true -> torch; false -> chainer -->
  <arg name="GPU" default="0" />  <!-- cpu=-1, gpu=0 -->

  <include file="$(find pr2_picking)/launch/pr2_kinect_and_laser.launch" />

  <include file="$(find pr2_picking)/launch/my_pr2_object_segmentation_3d.launch" >
    <arg name="IMAGE_RESIZE" value="$(arg IMAGE_RESIZE)" />
    <arg name="USE_TORCH" value="$(arg USE_TORCH)" />
    <arg name="GPU" value="$(arg GPU)" />
  </include>

  <group if="$(arg rviz_gui)">
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find pr2_picking)/rvizconfig/pr2.rviz"
          respawn="true" />
  </group>

</launch>
